// :root {
//   font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
//   line-height: 1.5;
//   font-weight: 400;

//   color-scheme: light dark;
//   color: rgba(255, 255, 255, 0.87);
//   background-color: #242424;

//   font-synthesis: none;
//   text-rendering: optimizeLegibility;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

// a {
//   font-weight: 500;
//   color: #646cff;
//   text-decoration: inherit;
// }
// a:hover {
//   color: #535bf2;
// }



// h1 {
//   font-size: 3.2em;
//   line-height: 1.1;
// }

// #app {
//   max-width: 1280px;
//   margin: 0 auto;
//   padding: 2rem;
//   text-align: center;
// }

// .logo {
//   height: 6em;
//   padding: 1.5em;
//   will-change: filter;
//   transition: filter 300ms;
// }
// .logo:hover {
//   filter: drop-shadow(0 0 2em #646cffaa);
// }
// .logo.vanilla:hover {
//   filter: drop-shadow(0 0 2em #3178c6aa);
// }

// .card {
//   padding: 2em;
// }

// .read-the-docs {
//   color: #888;
// }



// TODO FIND FONT FOR WHOLE PAGE - USE QUICKSAND FOR QUOTE ONLY
*{ 
  font-family: Quicksand;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #1d2d44;
}

input[type="text"]:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.page-top{
  margin-bottom: 20px;
  height: 10vh;
  min-height: 60px;
  max-height: 70px;

  &__colour{
    height: 100%;
    margin: 0px;
    background-color: #1d2d44;
    display: flex;
    align-items: center;
    padding: 15px;
  }

  &__message{
    font-size: 28px;

    &__text{
      color:#F0EBD8;
    }
  }

}

.fact-container{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__box{
    width: 50%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: 2px solid black;
    border-radius: 7px;
    padding: 20px;
  }

  &__text{
    margin-bottom: 16px;
    font-size: 28px;
  }
}

.todo-create{
  height: 200px;
  display: flex;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;

  &__text{
    height: 50%;
  }

  &__btn{
    // text-align: end;
  }
}


#taskInput{
  border: none;
  height: 100%;
  width: 100%;
  font-size: 38px;
}

.todo-created{
  margin-left: 40px;
  margin-right: 40px;

  &__title{
    margin-bottom: 20px;
  }

  &__task{
    display: flex;
    font-size: 20px;

    &__checkbox{
      margin-right: 16px;
    }
  }
}
